[Unit]
Description=When script recieves zerorpc call it reads serialport and responds if its connected correctly

[Service]
ExecStart=/root/measure/pmc-check-wiring.py

[Install]
WantedBy=multi-user.target
