<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-grou SYSTEM "avahi-service.dtd">

<service-group>
  <name>saam-pmc</name>
  <service protocol="ipv4">
    <type>_remote._tcp</type>
    <port>4242</port>
  </service>
</service-group>
